@{
    ViewData["Title"] = "Personal - Bio Page";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome to my Bio</h1>
   
<h1>
    <h1 class="display-4">
        Learn about
    </h1>
    <br />
    <h1>
        <tr>
            <th>

        <p>Airton Charles Pereira Prado</p>
        <p>38 Anos</p>
        <p>Braga-PT</p>
            </th>
                      
        </tr>
    </h1>
    <br />
  
       
    <h1 class="text-center">Descrição
    
    <div class="texto">
        Como presidente e CEO da Xtech Consultoria e Assessoria, Charles lidera e desenvolve implementação, melhoria e treinamento de Supply chain e Tecnologia. Buscando sempre excelência e satisfação com resultados reais em Savings para todos os Stakeholders. Charles é responsável por conduzir a estratégia de crescimento e garantir que os valores da Empresa sejam incorporados em todo o Sistema como o filtro através do qual todas as nossas decisões de negócios são tomadas, dando vida ao seu propósito corporativo. liderando as operações comerciais de aproximadamente 5 milhões. Com essa visão Charles teve a Oportunidade de ser Controller do Fortaleza Esporte Clube,  Ele atualmente mora em Braga, Portugal.
        Atualmente em Busca de Recolocação no mercado na area de Desenvolvedor de Softwares.
    </div>
        </h1>
        <br />
        <br />
        
    
        
</div>





