@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeCenter">
    <section class="animate-atent">
       
    <h1 animation: atent 2s ease 0s 1 normal forwards;>
       <p fonte-size:12px, background-color:"white";>
            Alert!
            verificar pagamentos em atrasos!</p>
        </h1>
    </section>

</div>
